

.headContainer {
    display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  

    .headContainerText {
      padding: 5rem 0;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .headContainerText {
        padding: 5rem 0;
        
      }
  }



@media (min-width: 47.5rem) {
  
    /* header start */
    .headContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: -3;
        border-bottom: 0.9rem solid var(--peerX-red,  #D31E15);
        margin-bottom: 4rem;
    }

    .headContent {
        display: flex;
        
        width: 80%;
    }
    
    .header {
       
        color: var(--peerX-Brown, #000);
        font-family: var(--peerX-Ubuntu, 'Ubuntu', sans-serif);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
        margin-top: 0;
        letter-spacing: 2.8px;
        white-space: nowrap;
        }
    
    
        
    
    .headContainerText {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .text {
    color: var(--peerX-headerText, #5E5E5E);
    font-family: var(--peerX-DM-Sans, 'DM Sans', sans-serif);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-right: 2rem;
    }
    
    
    
    
    
    
    
    
    
    .headContainerImage {
    width: 50%;
    position: relative;
    
    }
    
    .circle {
        position: absolute;
          top: 60%;
          left: 56%;
         
          transform: translate(-60%, -60%);
          width: 70%; /* Adjust the size of the circle */
          height: 50%;
          padding-bottom: 65%; /* Maintain aspect ratio for a perfect circle */
          background-color: var(--peerX-lightRed, #FCC); 
          border-radius: 50%; /* Adjust the background color as needed */
          z-index: -1;
    }
    
    
    
    .image {
        width: 100%;
        height: 100%;
        padding-top: 4rem;
        z-index: 1; /* Ensure the image is on top of the circle */
    }
    
    
    
    .italic {
        
        color: var(--peerX-red,  #D31E15);
    font-family: Figma Hand;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    }
    
    .startButton {
        display: flex;
        background-color: var(--peerX-red,  #D31E15);
        width: 6rem;
        height: 2.5rem;
        color: var(--peerX-white, #FFF);
        padding: 0.5rem 0.2rem;
        margin-bottom: 0.5rem;
        border-radius: 0.3rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .startButtonText {
       font-size: 0.7rem;
       color: var(--peerX-white, #FFF);
       font-family: var(--peerX-DM-Sans, 'DM Sans', sans-serif);
       font-size: 0.8rem;
       font-style: normal;
       line-height: normal;
    }

    .mobileMainHeaderContainer {
        display: none;
    }

}
   


    


    /* @media (min-width: 912px) {
      .headContent {
      margin-top: 5rem
      }

      .headContainerText  {
        margin-top: 3rem;
      }

      .header {
       
      
        font-size: 40px;
       
        }

        .italic {
          
        font-size: 50px;
        font-style: italic;
        font-weight: 700;
        line-height:normal;
        }


        .text {
  
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: justify;
            padding-right: 5rem;
            }

    } */
     